ul {
	list-style: none;
}

/* ヘッダー */
.header {
	background-color: black;
	padding: 10px;
}

.header-logo {
	display: flex;
	align-items: center;
	height: 50px;
	padding: 0 20px;
}

/* エラーメッセージ */
.form__error {
	text-align: left;
}

.error-message {
	color: red;
}

/* 会員登録フォーム */
.content {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.ttl {
	font-size: 25px;
	margin: 50px 0 0;
}

.form {
	margin-top: 40px;
}

.form-label {
	display: block;
	margin: 35px auto 0;
	text-align: left;
	font-weight: bolder;
}

.form-input {
	width: 100%;
	height: 40px;
}

.button__button-submit {
	width: 100%;
	height: 40px;
	border: none;
	cursor: pointer;
	background: #FF5555;
	color: white;
	border-radius: 3px;
	font-size: 18px;
	margin: 70px 0 20px;
}

.form__link {
	text-decoration: none;
	color: #0073CC;
}


.debug_dump {
	display: block;
	text-align: left;
	width: 100%;
	margin-top: 20px;
}