<% content_for :header_content do %>
  <%= render "layouts/header_nav" %>
<% end %>

<div class="product-tabs">
  <%= link_to "おすすめ", '#', class: "product-tabs__tab product-tabs__tab--all" %>
  <%= link_to "マイリスト", '#', class: "product-tabs__tab product-tabs__tab--favorites" %>
</div>

<div class="products-show">
<% @products.each do |product| %>
  <% if product.image.attached? %>
    <%= link_to image_tag(product.image.variant(:display).processed, alt: product.name), product_path(product.id), class: "product-img" %>
  <% end %>
<% end %>
</div>
