<% content_for :header_content do %>
  <%= render "layouts/header_nav" %>
<% end %>

<h1>Products#index</h1>

<% @products.each do |product| %>
  <% if product.image.attached? %>
  <%= image_tag product.image.variant(:display).processed, alt: product.name, class: "クラス名" %>
<% end %>
<% end %>
